.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  padding: 0 20px;
}

.header {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #9d34e8;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
  font-size: 17px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(to right, #9d34e8, #4949FF);
  color: whitesmoke;
  font-weight: bold; 
  font-size: 20px;
}

.wave-head{
  color: rgb(96, 96, 96);
  margin-bottom: 0;
  padding: 10px 20px;
}

form{
  width: 100%;
}
input {
  border-radius: 50px;
  cursor: pointer;
  margin-top: 16px;
  padding: 9px;
  border: 1px solid gray;
  width: 96%;
}
.wave-table{
  background: linear-gradient(to right, #9d34e8, #4949FF);
  padding: 10px 20px;
  color: #f1f1f1;
  font-weight: 600;
  border-bottom: 1px solid #f1f1f1 ;
}
.mineState{
  font-size: 17px;
  font-weight: 900;
}
.footer{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}